.container{
    max-width: 960px;
    margin: 0 auto;
}

.content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-container:first-child, .content-container:last-child{
    padding: 5rem 0 ;
}

.content-left{
    flex: 1;
    width: 500px;
}

.content-left .img-container img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.content-right{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.content-right h2{
    font-size: 3rem;
}