.header{
    height: 80px;
    background-color: black;
}

.container{
    max-width: 960px;
    /* brings content to middle */
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container a{
    color: white;
    text-decoration: none;
}

/* Logo and Title */
.logo-container a{
    font-size: 2rem;
    font-weight: bold;

}

/* Menus */
.menu{
    display: flex;
    list-style-type: none;
}

.menu-link{
    padding-right: 2rem;
}

