body{
  background-color: black;
  color: white;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > h1, h3, p {
  margin: 0;
}

.main{
  margin-top: 10px;
}